body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 100px;
}

.header-links {
    font-size: 21px;
    color: #e5e7eb;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 100px;
}

.content-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.heading-top, .info-top {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.heading-top, .content-img-top {
    display: flex;
    flex-direction: column;
}


.heading-top {
    font-size: 48px;
    color: #f9faf8;
    margin-left: 100px;
    padding-top: 100px;
}

.info-top {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 100px;
}

.content-img-top {
    height: 300px;
    flex-shrink: 0;
    margin-right: 100px;
}

a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

button {
    background: #3882F6;
    color: white;
    width: 120px;
    height: 40px;
    margin-left: 100px;
    border-radius: 25px;
    margin-bottom: 150px;
    margin-top: 25px;
    

}

.header, .content-top {
    background: #1f2937;
    color: white;
}

.heading-middle {
    font-size: 36px;
    font-weight: 600;
    margin-left: 100px;
}

.heading-middle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    text-align: center;
}

.info-middle {
    max-width: 400px;
}

.content-middle-img-left, .content-middle-img-middle, .content-middle-img-right {
    height: 250px;
    max-width: 500px;
}

.quote-container {
    background: #e5e7eb;
    align-items: center;
}

.quote {
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding: 100px 100px 20px 100px;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 100px;
    padding-right: 100px;
}   